<!DOCTYPE html>
<html>

<head>
    <title>StudyPal AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>StudyPal AI</h1>

    <p>Paste your notes below:</p>

    <form method="POST">

        <textarea name="notes" rows="10" cols="50"></textarea>

        <br><br>

        <button type="submit">Generate Questions</button>

    </form>

    <h2>Generated Questions:</h2>
    
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <ul>
        {% for question in questions %}
            
            <li>{{ question }}</li>

        {% endfor %}
    </ul>

</body>

</html>